<div class="dashboard-container">
    <div class="sidebar">
      <ul>
        <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
        <li routerLink="/account-overview" routerLinkActive="active">Accounts</li>
        <li routerLink="payments" routerLinkActive="active">Payments</li>
        <li routerLink="support" routerLinkActive="active">Support</li>
        <li routerLink="settings" routerLinkActive="active">Settings</li>
        <li (click)="logout()">Log out</li>
      </ul>
    </div>
    <div class="main-content">
      <div class="header">
        <h2>Hello, {{ username }}</h2>
        <p>Welcome back!</p>
      </div>
      <div class="transfer-section">
        <h3>Transfer</h3>
        <form>
          <input type="text" placeholder="Account" />
          <input type="text" placeholder="Amount" />
          <input type="text" placeholder="Card Number" />
          <input type="text" placeholder="MM" />
          <input type="text" placeholder="YY" />
          <button type="submit" class="transfer-button">Transfer</button>

        </form>
      </div>
      <div class="debit-card">Debit Card Details</div>
      <div class="chart">Any kind of chart on spending trends</div>
      <div class="transactions">
        <h3>Previous Transactions</h3>
        <ul>
          <li>Transaction 1</li>
          <li>Transaction 2</li>
          <li>Transaction 3</li>
          <!-- Add more as needed -->
        </ul>
      </div>
    </div>
  </div>
  